echo venv/ > .gitignore
echo __pycache__/ >> .gitignore
echo *.env >> .gitignore
echo *.pyc >> .gitignore
echo node_modules/ >> .gitignore
echo .DS_Store >> .gitignore
echo .vscode/ >> .gitignore
echo node_modules/ >> .gitignore
git rm -r --cached frontend/node_modules